#menu 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 20px;
}
li 
{
  float: left;
}
  
li a 
{
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

#mesas
{
  text-align: center;
  margin-top: 30px; 
}

#adicionarMesa
{
  margin-left: 465px;
  margin-top: -43px;
  width: 315px;
}

table, th, td 
{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 43%;
}

#funcionarioNovo
{
  margin-top: 2%;
  margin-left: 31%;
  width: 68%;
}

th, td 
{
  padding: 5px;
  text-align: left;    
}

#tabela 
{
  width: 205%;
  border: 1px solid black;
  border-collapse: collapse;;
  margin-left: 0%;
  float: center;
}

#coluna
{
  padding: 5px;
  text-align: left;  
}

#linha
{
  padding: 5px;
  text-align: left;  
}