/*HEADER*/
.cabecalho{
	padding: 5px;
}
.linhaHeader{
	background-color: black;
}
.logo{
	width: 72px;
	height: 72px;
}
h1{
	margin:0px;
}
ul{
	float: right;
	margin-top: 40px;
}
ul li{
	display: inline;
	padding: 6px;
}
ul li a{
	text-decoration: none;
	color: lightgray;
	padding-bottom: 6px;
}
ul li a:hover{
	text-decoration: none;
	color: white;
	border-bottom: 2px solid #58aedf;
}

.borda{
	height: 10px;
	background-image: url(../imagens/borda.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
/*FORMULARIO*/
form{
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 5%;
	padding: 20px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	border: 2px solid #58aedf;
	box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.68);
}
#salva{
	margin-top: 2%;
	background-color: #fb4f3b;
	color: white;
}
label{
	margin-top: 10px;
	color:white;
}
h1{
	color: white;
	text-align: center;
}
/*ESCOPO DO PROJETO*/
body{
	background-size: cover;
}
/*FORMULARIO FUNCIONARIO*/
.formTable{
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10%;
	padding: 20px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	border: 2px solid #58aedf;
	box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.68);
}
.linhaTable h3{
	text-align:center;
	color: white;
	margin:0px;
	margin-bottom: 5%;
}
.linhaTable button{
	margin-bottom: 5%;
}
table{
	max-width: 100%;
}
.table-responsive{
	margin-right: auto;
	margin-left: auto;
}
th{
	text-align: center;
	padding: 3px;
	color: white;
	border: 1px solid white;
}
.table tbody tr td, .table tbody tr th, .table tfoot tr td, .table tfoot tr th, .table thead tr td, .table thead tr th {
    vertical-align: middle;
}
tr{
	border: 1px solid white;
	margin-right: auto;
	margin-left: auto;
}
.funcTable{
	padding: 0px;
}
.acao{
	width: 100%;
}
#funcionarioNovo{
	margin-right: auto;
	margin-left: auto;
}
label.formModal{
	margin-top: 10px;
	color:black;
}
.link{
	text-align: right;
	padding: 8px;
	color: white;
}
#entrar{
	background-color: #fb4f3b;
	color: white;
}
select{
	background-color: black;
	border: none;
	color: lightgray;
}
select:hover{
	background-color: black;
	border: none;
	color: white;
}
